DATA_PATH=/home/<login>/data
DOMAIN_NAME=jucoelho.42.fr
DB_NAME=wordpress_db
DB_USER=wordpress_user
WP_ADMIN_USER=siteowner
WP_ADMIN_EMAIL=admin@jucoelho.42.fr
WP_USER=wpuser
WP_USER_EMAIL=wpuser@jucoelho.42.fr